.App-title {
    font-size: 1.5em;
}

.App-header {
    background-color: #222;
    height : 100px;
    padding: 20px;
    color : white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.div-padding {
    padding: 20px;
}